* {margin: 0; padding: 0; font-family: "Segoe UI";}

.contenedor-madre, .tests {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-madre {
    background-color: rgb(28, 28, 28);
}

.temporizador-contenedor {
    background-color: rgb(13, 13, 13);
    box-shadow: 0 0 5px black;
    height: 210px;
    width: 350px;
    color: rgb(235, 235, 235);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.temporizador-contenedor .tiempo-total {
    color: rgb(183, 183, 183);
    font-size: 1.15rem;
    margin-top: 1rem;
}

.temporizador-contenedor .tiempo-contador{
    font-size: 4rem;
    justify-content: center;
    display: flex;

    user-select: none;
    margin-bottom: 1rem;
}

.temporizador-contenedor .controles {
    margin-bottom: 1rem;
}

.temporizador-contenedor .controles button {
    border: 0;
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 1.15rem;
    padding: .45rem 0;
    margin: 0 .6rem;
    width: 115px;
    border-radius: 2rem;

    cursor: pointer;
}

/* .segundos {background-color: rgba(0, 0, 255, 0.542);}
.minutos {background-color: rgba(0, 0, 255, 0.295);}
.horas {background-color: rgba(0, 0, 255, 0.18);} */

.efecto:hover {
    text-shadow: 0 0 5px white;
}

.no-mostrar {
    display: none;
}